/* reset */
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
}

*{
  box-sizing: border-box;
}



html, body{
  position: relative;
  height: 100%;
  min-height: 100%;
}

.page-wrapper{
  position: relative;
  overflow: hidden;
}

div{
  position: relative;
}

body{
  background-color: #fff;
}

.page-outer{
  position: relative;
  overflow: auto;
}

.page-inner{
  overflow: auto;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


::selection {
    color: #fff;
    background: var(--main-color);
}


:root {
    --main-color: #000;
    --header-light-color: #fff;
    --header-light-hover-color: #fff;
    --header-dark-color: #000;
    --header-dark-hover-color: #000;
}







/* Header */


#header{
    position: fixed;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 75px;
    background-color: transparent;
    z-index: 100;
}


#header-inner{
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 0 solid transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var div{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    background: 0 0;
    border: 0;
    outline: 0;
}

.header-logo-link{
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-height: 100%;
    height: 50px;
}

a{
    color: #c6c6c6;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

img{
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    aspect-ratio: auto 136 / 64;
}

.header-logo-image{
    opacity: 1;
    display: block;
    margin: auto 0;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

a img{
    border: none;
}

.header-navigation{
    height: 100%;
    margin-left: auto
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

.header-navigation ul{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    margin: 0!important;
    padding: 0;
    list-style: none;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-navigation ul li{
    margin-left: 0;
    /* height: 100%; */
    margin: 0 22px;
    position: relative;
    padding: 0;
}



/* submenu */

.header-navigation ul li:hover>ul{
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-out;
}


.header-navigation ul li > .sub-menu {
    background-color: #fff;

}

.header-navigation ul li ul {
    position: absolute;
    top: 100%;
    left: -26px;
    height: 175px;
    width: 220px;
    margin: 0;
    padding: 5px 0 5px 0;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.header-navigation ul li ul li {
    /* padding: 0 36px; */
    padding: 26px 0 0 26px;
}

.header-navigation ul li ul li a{
    /* padding: 0 36px; */
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block;
}


li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.header-navigation ul li a{
    /* color: var(--header-dark-hover-color)!important; */
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 14px;
    line-height: 1.5em;
    /* padding: 0 10px; */
    transition: color .2s ease-out;
    cursor: pointer;
    text-align: left;
}



.header-navigation ul li a .menu-item-text:before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #f05123;
    width: 0%;
    bottom: 0px;
  }
  
 
  
  .header-navigation ul li a .menu-item-text:hover::before {
    width: 100%;
  }




.header-navigation ul li a .menu-item-text:hover{

    color: #ca1c14;
    text-decoration: none;
}


.header-navigation ul .home {
    margin-left: 0;
}



/* contact-us nav bar */
.header-navigation ul .contact-us {
    margin-right: 0;
}

.contact-us .nav-button{
    position: absolute;
            top: 0;
            left: 0;
            /* width: 100%; */
            height: 100%;
            background-color: #f05123;
            z-index: -1;
            width: 100%;
            transition: .2s ease-out;
            border-radius: 5px;
}



.contact-us a{
    padding: 10px 10px 10px 10px;
    color: #ffffff !important;
}

.contact-us a:hover{
    color: #ffffff !important;
    transform: scale(1.05);
    transition: .2s ease-out;
}

.contact-us .menu-button-text:hover{
    color: #ffffff !important;
}
/* end */

/* -------------------------------------mobile------------------------------------------------------------------------------------------------ */




@media only screen and (max-width:1024px) {
    #header {
        display: none;
    }
}

/* @media only screen and (max-width:1024px) {
    #mobile-header {
        display: block;
    }
}

@media only screen and (min-width:1025px) {
    #mobile-header {
        display: none;
    }
} */



/*Stying for small screens*/
@media  screen and (min-width:1025px) {
    #mobile-header{
        display: none;
    }
    
}
@media screen and (max-width: 1024px){
    #mobile-header{
        /* position: fixed; */
        z-index: 100;
    }}


#mobile-header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0);
    height: 5em;
  }
  .m-logo {
    max-height: 10px;
  }

  .m-logo img{
    height:3em;
    width: 4em;
    margin: 1em 1em 1em 1em;
  }

  nav ul{
    list-style: none;
  }


  /* menu button */
  .menuBtn {
    height: 1em;
    width: 1.8em;
    position: absolute;
    right: 1em;
    top: 1em;
    margin: 1em 1em 1em 1em;
    z-index: 101;
    transform: scale(1.5);
  }
  .menuBtn > span {
    background-color: #1e1e1e;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
  }
  .menuBtn > span:after,
  .menuBtn > span:before {
    content: '';
    background-color: #1e1e1e;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 200ms;
  }
  .menuBtn > span:after {
    top: -7px;
  }
  .menuBtn > span:before {
    bottom: -7px;
  }
  .menuBtn.act > span {
    height: 0;
  }
  .menuBtn.act > span:after,
  .menuBtn.act > span:before {
    background-color: #1e1e1e;
    top: 1px;
  }
  .menuBtn.act > span:after {
    transform: rotate(45deg);
  }
  .menuBtn.act > span:before {
    transform: rotate(-45deg);
  }
  /* main menu block */
  .mainMenu {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
  }
  .mainMenu.act {
    opacity: 1;
    transform: scale(1);
  }
  .mainMenu.act ul li {
    opacity: 1;
    transform: translateX(0);
  }
  .mainMenu ul {
    /* display: table-cell; */
    vertical-align: middle;
  }
  .mainMenu li {
    padding: 8px 0;
    transition: all 400ms 510ms;
    opacity: 0;
  }
  .mainMenu li:nth-child(odd) {
    transform: translateX(30%);
  }
  .mainMenu li:nth-child(even) {
    transform: translateX(-30%);
  }
  .mainMenu li:last-child {
    transform: none;
  }
  .mainMenu a {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 3vh;
    line-height: 2em;
  }

  .mainMenu a.suBtn {
    color: #1e1e1e;
  }

  .main-ul{
    display: table-cell;
  }

  .m-contact-button {
    color: #ffffff;
    background-color: #f05123;
    border: 1.5px solid #f05123;
    border-radius: 0.5em;
    padding: 0.6rem 0.8rem;
    font-size: 3vh;
    cursor: pointer;
}

  nav ul ul{
    display: none;
  }

 .arrow{
    position: absolute;
    transform: translateY(-50%);
    transition: transform 0.4s;
    margin: 1em 0em 0em 1em;
 }

 .m-submenu.active{
    display: block;
 }

 .dropdown .arrow.rotate{
    transform: translateY(-50%) rotate(-180deg);

 }
 



   

/* header end */





/* footer---------- */

/* @media only screen and (min-width: 1441px){
    .content-grid-1300 .content-grid {
        width: 1300px;
    }}
    
    @media only screen and (min-width: 1441px){
        .grid-1300 .content-grid {
            width: 1300px;
    }} */

    @media only screen and (max-width: 1024px) and (min-width: 769px){
      #footer-top-area-inner .grid .grid-inner {
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
}}

    @media only screen and (max-width: 768px){
        #footer-top-area-inner .grid .grid-inner  {
    grid-template-columns: repeat(1,minmax(0,1fr)) !important;
}}

    @media only screen and (max-width: 680px){
        .grid.layout--columns > .grid-inner {
            grid-template-columns: minmax(0px, 1fr);
}}

@media only screen and (min-width: 1441px){
.content-grid{
    width: 1300px;
}}


/* @media only screen and (max-width: 1024px){
.content-grid {
    width: 768px;
}} */

@media only screen and (max-width: 1200px){
.content-grid {
    width: 960px;
}}

@media only screen and (max-width: 680px){
#bottom-area-inner, #footer-top-area-inner {
    max-width: 100%!important;
}}

@media only screen and (max-width: 1024px){
.content-grid {
    width: 86%;
}}

@media only screen and (max-width: 680px){
#footer-bottom-area-inner, #footer-top-area-inner {
    max-width: 100%!important;
}}


@media only screen and (max-width: 800px){
    #footer .footer-opener a{
        padding: 4% 6% 4% 6% !important;
    }}

/* @media only screen and (max-width: 1024px){
    .grid-item h6{
        color: #000000;
        font-family: "DM Sans";
        font-size: 30px;
        line-height: 22px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .grid-item p{
        margin-bottom: 0px;
        margin: 10px 0;
        font-family: "DM Sans";
        font-size: 25px !important;
    }

    .wp-block-social-links, .wp-block-social-links.has-normal-icon-size {
        font-size: 40px !important;
    }



} */



footer {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 300px; */
    width: 100%;
    z-index: 200;
    background-color: #4c4c4c;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

/* footer-opener */


#my-container{
    position: relative;
}


.footer-opener {
    display: block;
    position: fixed; 
    justify-content: center;
    /* width: auto;
    margin: auto;; */
    /* right: 50%; */
    /* Note the percentage here ????? */
    bottom: 0;
    padding: 25px 45px 25px 45px;
    background-color: #f05123;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    width: 5% !important;
    z-index: 200;
}

.footer-opener:hover{
    background-color: #ff3700;
}


.footer-opener.active + footer{
    max-height: 100%;
}

.footer-opener a:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-left-color: inherit;
    border-top-color: inherit;
    transform-origin: 0 0;
    position: absolute;
    transition: all .3s linear;
    transform: rotateZ(45deg) translate(-50%,-50%);
    transition-property: transform,top;
}

.footer-opener.active a:before{
    transform: rotateZ(225deg) translate(-50%,-50%);
}


.footer-opener a{
    color: #ffffff;
}

.footer-opener a:hover{
    color: #ffffff;
}


.fTab{
    border: 0;
    color: #ffffff;
clip: rect(1px,1px,1px,1px);
-webkit-clip-path: inset(50%);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
overflow-wrap: normal!important;
word-wrap: normal!important;
padding: 0;
position: absolute!important;
width: 2px;
}

.footer-opener a:after {
    content: "";
    display: table;
    clear: both;
}


/* footer-opener-end */

/* footer */
#footer {
    position: fixed;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#footer-top-area {
    background-color: #4c4c4c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#footer-top-area-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-grid {
    margin: 0 auto;
}

#footer .alignment--center {
    text-align: center;
}

#footer-top-area-inner .grid .grid-inner {
    grid-template-columns: repeat(4,minmax(0,1fr));
}



.grid .gutter--small>.grid-inner {
    gap: 20px;
}

.grid.layout--columns>.grid-inner {
    grid-template-columns: minmax(0,1fr);
}

.grid>.grid-inner {
    position: relative;
    display: grid;
    gap: 30px;
}

#footer .alignment--center {
    text-align: center;
}


.widget:last-child {
    margin-bottom: 0!important;
}

.clear:after, .clear:before, .comment-author:after, .comment-author:before, .comment-content:after, .comment-content:before, .comment-meta:after, .comment-meta:before, .nav-links:after, .nav-links:before, .pagination:after, .pagination:before, .widget-area:after, .widget-area:before, .widget:after, .widget:before {
    content: '';
    display: table;
    table-layout: fixed;
}

h6{
    color: #000000;
    font-family: "DM Sans";
    font-size: 17px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    margin-bottom: 0px;
    margin: 10px 0;
    font-family: "DM Sans";
    font-size: 20px;
}

.grid-item p {
    margin-bottom: 0px;
    margin: 10px 0;
    font-family: "DM Sans";
    font-size: 17px;
}

a, p a {
    color: #c6c6c6;
    font-style: normal;
    font-family: "DM Sans";
    font-weight: 500;
    text-decoration: none;
    transition: color .2s ease-out;
    cursor: pointer;
}

a:hover, p a:hover, a:focus, p a:focus{
    color: #f05123;
    text-decoration: none;
    outline: none;
}

.widget:after {
    clear: both;
}

.wp-block-social-links.aligncenter {
    justify-content: center;
    display: flex;
}

.wp-block-social-links, .wp-block-social-links.has-normal-icon-size {
    font-size: 25px;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.wp-container-1 {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}


#footer .widget ul li {
    margin: 0 0 3px;
}

.wp-social-link-instagram {
    background-color: #f00075;
    color: #fff;
}

.widget ul li {
    position: relative;
}

.wp-block-social-link {
    display: block;
    border-radius: 9999px;
    transition: transform .1s ease;
    height: auto;
}

.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:active, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:visited, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg {
    color : currentColor;
    fill : currentColor;
    
}

.wp-block-social-links .wp-social-link a {
    padding: 0.25em;
}

.wp-block-social-links .wp-social-link a, .wp-block-social-links .wp-social-link a:hover {
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
    
}


.wp-block-social-link a {
    align-items: center;
    display: flex;
    line-height: 0;
    transition: transform .1s ease;
}

.wp-block-social-links .wp-social-link svg {
    width: 1em;
    height: 1em;
}

svg:not(:root) {
    overflow: hidden;
}

.wp-social-link-facebook {
    background-color: #1778f2;
    color: #fff;
}
.wp-social-link-youtube {
    background-color: red;
    color: #fff;
}
.wp-social-link-linkedin {
    background-color: #0d66c2;
    color: #fff;
}

#footer-bottom-area {
    background-color: #3c3c3c;
}

#footer>* {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

/* #footer-bottom-area-inner {
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* #qodef-page-footer-bottom-area-inner {
    padding: 22px 0;
    border-top: 1px solid rgba(0,0,0,.1);
} */

.wp-block-social-link:hover{
    transform: scale(1.1);
}

.content-grid {
    margin: 0 auto;
}


.grid .layout--columns .col-num--1>.grid-inner {
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid .gutter--normal>.grid-inner {
    gap: 30px;
}



/* footer */
#footer{
  position: relative;
}

/* header */
#header{
  background-color: #ffffff;
}



/* preloader */

.preloader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    z-index: 999999;
    }
    
    .preloader-bg-disappear {
    z-index: -1;
    }
    
    #preloader {
    position: fixed;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 999999;
    }
    
    #preloader-status {
    display: table-cell;
    vertical-align: middle;
    }
    
    .preloader-position {
    position: relative;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    }
    
    .busy-loader {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin: auto;
    margin-left: -45px;
    margin-top: -45px;
    }
    
    .busy-loader .w-ball-wrapper {
    position: absolute;
    width: 86px;
    height: 86px;
            opacity: 0;
       -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
         -o-transform: rotate(225deg);
            transform: rotate(225deg); 
    -webkit-animation: orbit 4.4s infinite;	 
       -moz-animation: orbit 4.4s infinite;
        -ms-animation: orbit 4.4s infinite;
         -o-animation: orbit 4.4s infinite;
            animation: orbit 4.4s infinite;
    }
    
    .busy-loader .w-ball-wrapper .w-ball {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #f05123;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    }
    
    .busy-loader .ball-1 {
    -webkit-animation-delay: 0.96s;
       -moz-animation-delay: 0.96s;
        -ms-animation-delay: 0.96s;
         -o-animation-delay: 0.96s;
            animation-delay: 0.96s;
    }
    
    .busy-loader .ball-2 {
    -webkit-animation-delay: 0.19s;
       -moz-animation-delay: 0.19s;
        -ms-animation-delay: 0.19s;
         -o-animation-delay: 0.19s;
            animation-delay: 0.19s;
    }
    
    .busy-loader .ball-3 {
    -webkit-animation-delay: 0.38s;
       -moz-animation-delay: 0.38s;
        -ms-animation-delay: 0.38s;
         -o-animation-delay: 0.38s;
            animation-delay: 0.38s;
    }
    
    .busy-loader .ball-4 {
    -webkit-animation-delay: 0.58s;
       -moz-animation-delay: 0.58s;
        -ms-animation-delay: 0.58s;
         -o-animation-delay: 0.58s;
            animation-delay: 0.58s;
    }
    
    .busy-loader .ball-5 {
    -webkit-animation-delay: 0.76s;
       -moz-animation-delay: 0.76s;
        -ms-animation-delay: 0.76s;
         -o-animation-delay: 0.76s;
            animation-delay: 0.76s;
    }
    
    @-moz-keyframes orbit {
      0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
      }
      7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
      }
      30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
      }
      39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
      }
      70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
      }
      75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
      }
      76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
      }
      100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
      }
    }
    
    @-webkit-keyframes orbit {
      0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
      }
      7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
      }
      30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
      }
      39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
      }
    
      70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
      }
      75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
      }
      76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
      }
      100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
      }
    }
    
    @-ms-keyframes orbit {
      0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
      }
      7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
      }
      30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
      }
      39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
      }
      70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
      }
      75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
      }
      76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
      }
      100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
      }
    }
    
    @-o-keyframes orbit {
      0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
      }
      7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
      }
      30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
      }
      39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
      }
      70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
      }
      75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
      }
      76% {
        opacity: 0;
        -o-transform: rotate(900deg);
      }
      100% {
        opacity: 0;
        -o-transform: rotate(900deg);
      }
    }
    
    @keyframes orbit {
      0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
      }
      7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
      }
      30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
      }
      39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
      }
      70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
      }
      75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
      }
      76% {
        opacity: 0;
        transform: rotate(900deg);
      }
      100% {
        opacity: 0;
        transform: rotate(900deg);
      }
    }
/* END */