*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

cuurentColor

::selection {
    color: #fff;
    background: var(--main-color);
}


/* header */
#mobile-header{
    display: flex;
    position: fixed;
    width: 100%;

}



.mainMenu{
    min-height: 100vh;
}

.m-logo img{
    height: 6em !important;
    width: 7em !important;
}

.menuBtn{
    right:0;
}


/* footer */
@media only screen and (max-width:1024px){
    #footer{
        display: none !important;
    }
}



/* multiscroll nav */
#multiscroll-nav {
    position: fixed;
    z-index: 9999;
    top: 50%;
    width: 30px;
    right: 0;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


#multiscroll-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#multiscroll-nav ul li .active span {
    background: transparent;
}
#multiscroll-nav span {
    top: 5px;
    left: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
}

#multiscroll-nav ul li a:hover span:before {
    background: #f05123;
    border: 1px solid #f05123;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#multiscroll-nav ul li .active span:before {
    background: #f05123;
    border: 1px solid #f05123;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#multiscroll-nav span:before {
    font-size: 1.5em;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #2B2D35;
    background: #1e1e1e;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.link-nav:hover .multiscroll-tooltip {
    opacity: 1;
    visibility: visible;
    color: #1e1e1e;
}
a.link-nav.active .multiscroll-tooltip {
    -webkit-animation: fade-tooltip 1.5s 0.3s,cubic-bezier(0, 0, 0.58, 1);
    -moz-animation: fade-tooltip 1.5s 0.3s,cubic-bezier(0, 0, 0.58, 1);
    animation: fade-tooltip 1.5s 0.3s,cubic-bezier(0, 0, 0.58, 1);
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
a.link-nav .multiscroll-tooltip {
    opacity: 0;
    visibility: hidden;
    right: 0;
    padding-right: 20px;
    z-index: 0;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.multiscroll-tooltip {
    visibility: hidden;
}











/* -----------------------------------------------slider------------------------------------------------------------------------------------------ */
h2 {
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e1e1e;
    letter-spacing: 2px;
    font-size: 46px;
    line-height: 1em;
    /* margin: 25px 0; */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.overlay-home{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* BG OPACITY CONTROL start */
    background: rgba(255, 255, 255, 0.232);
    /* BG OPACITY CONTROL end */
    margin: 0;
    padding: 0;
    z-index: 1;
    }
    .overlay-section {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* BG OPACITY CONTROL start */
        background: rgba(0, 0, 0, .55);
        /* BG OPACITY CONTROL end */
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    #left-bg-1,
    #left-bg-2,
    #left-bg-3,
    #left-bg-4,
    #left-bg-5{

        position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    #right-bg-1,
    #right-bg-2,
    #right-bg-3,
    #right-bg-4,
    #right-bg-5 {
        position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .content-wrapper {
        position: relative;
        width: 100%;
        left: 0;
        padding: 0 15%;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        z-index: 999;
    }

    .left-content {
        position: relative;
        z-index: 999;
        text-align: left;
    }

    .right-content {
        position: relative;
        z-index: 999;
        text-align: right;
    }


    .content-title {
        padding: 15px 0;
    }

    .right-content .content-text {
        padding: 15px 0 15px 160px;
    }

    .left-content .content-text {
        padding: 15px 160px 15px 0;
    }

    /* .left-1-content span{
                padding: 15px 0;
                position: absolute;
                font-size: 20px;
                color: #fff;
                background-color: #CA1C14;
                padding: 2px;
            } */

    .explore-button-text {
        color: #ffffff;
        border: 1px solid transparent;
        background-color: transparent !important;
        margin-top: 10px;
        /* background-color: #f0f0f0; */
        height: auto !important;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.6em;
        width: auto;
        /* margin: 0; */
        text-decoration: none;
        text-transform: none;
        border-radius: 5px;
        /* outline: 0; */
        font-family: 'DM Sans', sans-serif !important;
        transition: color .2s ease-out,
            background-color .2s ease-out,
            border-color .2s ease-out;
        /* background-color: transparent; */
        z-index: 5;
        padding: 15px 23px 17px;
    }

    .explore-button-text:hover {
        color: #ffffff;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        /* width: 100%; */
        height: 100%;
        background-color: #f05123;
        z-index: -1;
        width: 100%;
        transition: .2s ease-out;
        border-radius: 5px;

    }

    a:hover .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f05123;
        z-index: -1;
        transform: scale(1.05);
        transition: .2s ease-out;
    }

    .sections {
        position: relative;
        margin: 25px auto;
        z-index: 5;
    }

    .line-left {
        background: #f05123;
    }
    .line-left {
        position: absolute;
        width: 5px;
        height: 100%;
        left: 0;
        top: 0;
    }

    .line-right {
        background: #f05123;
    }
    .line-right {
        position: absolute;
        width: 5px;
        height: 100%;
        right: 0;
        top: 0;
    }





    .quotations-left {
        font-family: 'Raleway', sans-serif;
        font-size: 23px;
        line-height: 1.5;
        font-style: italic;
        font-weight: normal;
        /* text-align: center; */
        color: #1e1e1e;
        margin-left: 20px;
        margin-right: 70px;
    }

    .quotations-right {
        font-family: 'Raleway', sans-serif;
        font-size: 23px;
        line-height: 1.5;
        font-style: italic;
        font-weight: normal;
        text-align: right;
        color: #1e1e1e;
        margin-left: 70px;
        margin-right: 20px;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .quote-mark-l {
        padding: 0 10px 0 0;
    }

    .quote-mark-r {
        padding: 0 0 0 10px;
    }

    /* contact block */

    @media only screen and (max-width: 1600px){
    .item-title {
    padding: 0 10%;
    }}
    
    .contact-text{
        color: #1e1e1e;
    }


    .item-title {
        position: absolute;
        z-index: 999;
        left: 0;
        padding: 0;
        top: 50vh;
        width: 100%;
        padding: 0 15%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: left;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 1;
        visibility: visible;
    }

    .item-title h2 {
        color: #1e1e1e;
        font-size: 46px;
    }

    .item-title .separator {
        background: #f05123;
        height: 3px;
        width: 100px;
        margin: 20px 0 30px;
    }

    .item-title .separator:before {
        background: #f05123;
        content: "";
        height: 10px;
        margin: -4px auto auto 0;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 10px;
    }

    .item-title .separator:after {
        background: #f05123;
        content: "";
        height: 10px;
        margin: -4px auto auto 0;
        margin-left: 100px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 10px;
    }

    .item-title p {
        color: #1e1e1e;
    }
    /* bootstrap css */
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row:before {
        display: table;
        content: " ";
    }

    @media (min-width: 768px){
    .col-sm-12 {
    width: 100%;
    }}

    .block-contact {
        margin: 2em 0 0;
    }

    @media (min-width: 1200px){
.col-lg-4 {
    width: 50%;
}}

    @media (min-width: 1200px){
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}}

@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}}


@media (min-width: 768px){
.col-sm-12 {
    width: 100%;
}}
.col-sm-12, .col-xs-12{
position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.block-contact h3 {
    color: #1e1e1e;
    font-family: "DM Sans", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.block-contact h3 i {
    margin-right: 5px;
    font-size: 1.2em;
}

.block-contact h3 i {
    margin-right: 5px;
    font-size: 1.2em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-map-marker:before {
    content: "\f041";
}


.item-title p {
    color: #1e1e1e;
}

.block-contact {
    margin: 2em 0 0;
}

@media (min-width: 1200px){
.col-lg-4 {
    width: 50%;
}}

@media (min-width: 1200px){
    .col-lg-4, .col-lg-6{
        float: left;
    }
}

#social-nav ul{
    margin: 10px 0 0 0;
    padding: 0;
}

#social-nav ul li {
    display: block;
    float: left;
    margin: 0px 8px 0px 8px;
    padding: 4px;
    height: 40px;
    width: 40px;
    text-align: center;
}

#social-nav ul li a{
    padding: 0 0 0 0;
    font-size: 25px;
    color: #fff !important;
}

#social-nav ul li a:hover{
    color: #fff!important;
}

#social-nav ul li:hover{
    transform: scale(1.1);
}



#social-nav .facebook{
    background: #3b5998;
    border-color: #3b5998;
}


#social-nav .instagram{
    background: #f00075;
    border-color: #f00075;
}


#social-nav .youtube{
    background: red;
    border-color: red;
}


#social-nav .linkedin{
    background: #0d66c2;
    border-color: #0d66c2;
}

#social-nav li{
    display: block;
    border-radius: 9999px;
    transition: transform .1s ease;
    height: auto;
}




/* contact form */

#contact-form {
    margin-top: 40px;
}
    
@media (min-width: 1200px){
.col-lg-6 {
    width: 50%;
}}


.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group {
    margin-bottom: 15px;
}

#contact-form .form-control {
    background: rgba(0, 0, 0, 0.05);
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    outline: medium none;
    height: 50px;
    width: 100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    text-align: left;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media (min-width: 1200px){
.col-lg-12 {
    width: 100%;
}}

#contact-form textarea.form-control {
    min-height: 150px;
    margin-bottom: 1em;
}

#contact-form button#valid-form {
    font-weight: 400;
    padding: 1em 2em;
    font-size: 1em;
    display: block;
    margin: 0 auto 0;
    background: #f05123;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-weight: 700;
    width: 100%;
    border-color: #f04f2300;
}

#contact-form button#valid-form:hover {
    background: #fff;
    color: #333;
    width: 100%;
}

#block-answer {
    min-height: 30px;
    margin-top: 1em;
    text-align: center;
    display: none;
}















/* ----------------------------------------------------------mobile-slider---------------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
    #myContainer, #multiscroll-nav {
        display: none;
    }

    
}

@media only screen and (min-width:1024px) {
    #fullpage {
        display: none;
    }

    
}






.m-overlay-section{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* BG OPACITY CONTROL start */
    background: #ffffff50;
    /* BG OPACITY CONTROL end */
    margin: 0;
    padding: 0;
    z-index: -5;
}

.section{
    align-items: center;
}

.m-content-wrapper{
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%!important;
    left: 0!important;
    top: 0;
    padding: 100px 30px;
}


#section-bg-1, #section-bg-2, #section-bg-3{
    position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -10;
}

.m-content-wrapper h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-size: 8vh !important;
    line-height: 1em;
    /* margin: 25px 0; */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 15px;
}

.m-content-wrapper p{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5vh;
    margin: 30px 75px 15px 75px;
    position: relative;
}

.m-content-wrapper a{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5vh;
    position: relative;
}



/* -------------------- */

@media only screen and (max-width: 880px){
body {
    overflow: auto!important;
}}





    






