*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

cuurentColor

::selection {
    color: #fff;
    background: var(--main-color);
}


:root {
    --main-color: #000;
    --header-light-color: #fff;
    --header-light-hover-color: #fff;
    --header-dark-color: #000;
    --header-dark-hover-color: #000;
}


/* Header */


#header{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 75px;
    background-color: transparent;
    z-index: 100;
}


#header-inner{
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 0 solid transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var div{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    background: 0 0;
    border: 0;
    outline: 0;
}

.header-logo-link{
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-height: 100%;
    height: 50px;
}

a{
    color: #c6c6c6;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

img{
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    aspect-ratio: auto 136 / 64;
}

.header-logo-image{
    opacity: 1;
    display: block;
    margin: auto 0;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

a img{
    border: none;
}

.header-navigation{
    height: 100%;
    margin-left: auto
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

.header-navigation ul{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    margin: 0!important;
    padding: 0;
    list-style: none;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-navigation ul li{
    margin-left: 0;
    /* height: 100%; */
    margin: 0 22px;
    position: relative;
    padding: 0;
}



/* submenu */

.header-navigation ul li:hover>ul{
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-out;
}


.header-navigation ul li > .sub-menu {
    background-color: #ffffff00;

}

.header-navigation ul li ul {
    position: absolute;
    top: 100%;
    left: -26px;
    height: 175px;
    width: 220px;
    margin: 0;
    padding: 5px 0 5px 0;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.header-navigation ul li ul li {
    /* padding: 0 36px; */
    padding: 26px 0 0 26px;
}

.header-navigation ul li ul li a{
    /* padding: 0 36px; */
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block;
}


li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.header-navigation ul li a{
    /* color: var(--header-dark-hover-color)!important; */
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 14px;
    line-height: 1.5em;
    /* padding: 0 10px; */
    transition: color .2s ease-out;
    cursor: pointer;
    text-align: left;
}



.header-navigation ul li a .menu-item-text:before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #f05123;
    width: 0%;
    bottom: 0px;
  }
  
 
  
  .header-navigation ul li a .menu-item-text:hover::before {
    width: 100%;
  }




.header-navigation ul li a .menu-item-text:hover{

    color: #ca1c14;
    text-decoration: none;
}


.header-navigation ul .home {
    margin-left: 0;
}



/* contact-us nav bar */
.header-navigation ul .contact-us {
    margin-right: 0;
}

.contact-us .nav-button{
    position: absolute;
            top: 0;
            left: 0;
            /* width: 100%; */
            height: 100%;
            background-color: #f05123;
            z-index: -1;
            width: 100%;
            transition: .2s ease-out;
            border-radius: 5px;
}



.contact-us a{
    padding: 10px 10px 10px 10px;
    color: #ffffff !important;
}

.contact-us a:hover{
    color: #ffffff !important;
    transform: scale(1.05);
    transition: .2s ease-out;
}

.contact-us .menu-button-text:hover{
    color: #ffffff !important;
}
/* end */

/* -------------------------------------mobile------------------------------------------------------------------------------------------------ */




@media only screen and (max-width:1024px) {
    #header {
        display: none;
    }
}

/* @media only screen and (max-width:1024px) {
    #mobile-header {
        display: block;
    }
}

@media only screen and (min-width:1025px) {
    #mobile-header {
        display: none;
    }
} */



/*Stying for small screens*/
@media  screen and (min-width:1025px) {
    #mobile-header{
        display: none;
    }
    
}
@media screen and (max-width: 1024px){
    #mobile-header{
        position: fixed;
        z-index: 100;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 60%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(150vh at 90% -10%);
        /* -webkit-clip-path: circle(1000px at 90% -10%); */
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.mobile-header-navigation{
    height: 6rem;
    width: 100vw;
    background-color: #ffffff00;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0);
    display: flex;
    position: fixed;
    z-index: 10;
}

.m-logo{
    padding:2vh 2vw;
    text-align: center;
}
.m-logo img {
    /* height: 5rem; */
    width: 7rem;
}

.nav-links{
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-top: 0 !important;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    font-family: 'DM Sans', sans-serif;
    font-size: 3vh;
    color: #1e1e1e;

}
.nav-links li a:hover {
    color: #f05123;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #f05123;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 25% 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/

.m-contact-button{
    color: #ffffff;
    background-color: #f05123;
    border: 1.5px solid #f05123;
    border-radius: 0.5em;
    padding: 0.6rem 0.8rem;
    font-size: 3vh;
    cursor: pointer;
}
.m-contact-button:hover {
    color: #ff3700;
    background-color: transparent;
    border:1.5px solid #ff3700;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 50px;
    height:3px;
    background: #1e1e1e;
    margin: 10px;
    transition: all 0.3s ease;
}



/* -----------------------------------------------slider------------------------------------------------------------------------------------------ */
h2 {
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e1e1e;
    letter-spacing: 2px;
    font-size: 46px;
    line-height: 1em;
    /* margin: 25px 0; */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.overlay-home{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* BG OPACITY CONTROL start */
    background: rgba(255, 255, 255, 0.232);
    /* BG OPACITY CONTROL end */
    margin: 0;
    padding: 0;
    z-index: 1;
    }
    .overlay-section {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* BG OPACITY CONTROL start */
        background: rgba(0, 0, 0, .55);
        /* BG OPACITY CONTROL end */
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    #left-bg-1,
    #left-bg-2,
    #left-bg-3,
    #left-bg-4 {

        position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    #right-bg-1,
    #right-bg-2,
    #right-bg-3,
    #right-bg-4 {
        position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .content-wrapper {
        position: relative;
        width: 100%;
        left: 0;
        padding: 0 15%;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        z-index: 999;
    }

    .left-1-content {
        position: relative;
        z-index: 999;
        text-align: left;
    }

    .right-2-content {
        position: relative;
        z-index: 999;
        text-align: right;
    }


    .content-title {
        padding: 15px 0;
    }

    .content-text {
        padding: 15px 25px 15px 0px;
    }

    /* .left-1-content span{
                padding: 15px 0;
                position: absolute;
                font-size: 20px;
                color: #fff;
                background-color: #CA1C14;
                padding: 2px;
            } */

    .explore-button-text {
        color: #ffffff;
        border: 1px solid transparent;
        background-color: transparent !important;
        margin-top: 31px;
        /* background-color: #f0f0f0; */
        height: auto !important;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.6em;
        width: auto;
        /* margin: 0; */
        text-decoration: none;
        text-transform: none;
        border-radius: 5px;
        /* outline: 0; */
        font-family: 'DM Sans', sans-serif !important;
        transition: color .2s ease-out,
            background-color .2s ease-out,
            border-color .2s ease-out;
        /* background-color: transparent; */
        z-index: 5;
        padding: 15px 23px 17px;
    }

    .explore-button-text:hover {
        color: #ffffff;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        /* width: 100%; */
        height: 100%;
        background-color: #f05123;
        z-index: -1;
        width: 100%;
        transition: .2s ease-out;
        border-radius: 5px;

    }

    a:hover .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f05123;
        z-index: -1;
        transform: scale(1.05);
        transition: .2s ease-out;
    }




/* ----------------------------------------------------------mobile-slider---------------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
    #myContainer, #multiscroll-nav {
        display: none;
    }

    
}

@media only screen and (min-width:1024px) {
    #fullpage {
        display: none;
    }

    
}

.section{
    align-items: center;
}

.m-content-wrapper{
    text-align: center;
    align-items: center;
    background: #ffffff75;
    position: relative;
    width: 100%!important;
    left: 0!important;
    top: 0;
    padding: 100px 30px;
}


#section-bg-1, #section-bg-2, #section-bg-3{
    position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -2;
}

.m-content-wrapper h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-size: 8vh !important;
    line-height: 1em;
    /* margin: 25px 0; */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 15px;
}

.m-content-wrapper p{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5vh;
    margin: 30px 75px 15px 75px;
    position: relative;
}

.m-content-wrapper a{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5vh;
    position: relative;
}



/* -------------------- */

@media only screen and (max-width: 880px){
body {
    overflow: auto!important;
}}



/* footer---------- */

@media only screen and (min-width: 1441px){
    .content-grid-1300 .content-grid {
        width: 1300px;
    }}
    
    @media only screen and (min-width: 1441px){
        .grid-1300 .content-grid {
            width: 1300px;
    }}

footer {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    /* height: 300px; */
    width: 100%;
    z-index: 9;
    background-color: #4c4c4c;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

/* footer-opener */


#my-container{
    position: relative;
}


.footer-opener {
    display: block;
    position: fixed;
    justify-content: center;
    width: auto;
    margin: auto;;
    /* right: 50%; */
    /* Note the percentage here ????? */
    bottom: 0;
    padding: 1.5em 2em 1.5em 2em;
    background-color: #f05123;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    
    
}

.footer-opener:hover{
    background-color: #ff3700;
}


.footer-opener.active {
    bottom: 240px;
}

.footer-opener.active + footer {
    max-height: 240px;
}

.footer-opener a:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-left-color: inherit;
    border-top-color: inherit;
    transform-origin: 0 0;
    position: absolute;
    transition: all .3s linear;
    transform: rotateZ(45deg) translate(-50%,-50%);
    transition-property: transform,top;
}

.footer-opener.active a:before{
    transform: rotateZ(225deg) translate(-50%,-50%);
}


.footer-opener a{
    color: #ffffff;
}

.footer-opener a:hover{
    color: #ffffff;
}


.fTab{
    border: 0;
    color: #ffffff;
clip: rect(1px,1px,1px,1px);
-webkit-clip-path: inset(50%);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
overflow-wrap: normal!important;
word-wrap: normal!important;
padding: 0;
position: absolute!important;
width: 2px;
}

.footer-opener a:after {
    content: "";
    display: table;
    clear: both;
}


/* footer-opener-end */

/* footer */
#footer {
    position: fixed;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#footer-top-area {
    background-color: #4c4c4c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#footer-top-area-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.column1{
    padding: 0 0 0 10%;
}

.content-grid {
    margin: 0 auto;
}

#footer .alignment--center {
    text-align: center;
}

#footer-top-area-inner .grid .grid-inner {
    grid-template-columns: repeat(4,minmax(0,1fr));
}



.grid .gutter--small>.grid-inner {
    gap: 20px;
}

.grid.layout--columns>.grid-inner {
    grid-template-columns: minmax(0,1fr);
}

.grid>.grid-inner {
    position: relative;
    display: grid;
    gap: 30px;
}

#footer .alignment--center {
    text-align: center;
}


.widget:last-child {
    margin-bottom: 0!important;
}

.clear:after, .clear:before, .comment-author:after, .comment-author:before, .comment-content:after, .comment-content:before, .comment-meta:after, .comment-meta:before, .nav-links:after, .nav-links:before, .pagination:after, .pagination:before, .widget-area:after, .widget-area:before, .widget:after, .widget:before {
    content: '';
    display: table;
    table-layout: fixed;
}

h6{
    color: #000000;
    font-family: "DM Sans";
    font-size: 17px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    margin-bottom: 0px;
    margin: 10px 0;
    font-family: "DM Sans";
}

a, p a {
    color: #c6c6c6;
    font-style: normal;
    font-family: "DM Sans";
    font-weight: 500;
    text-decoration: none;
    transition: color .2s ease-out;
    cursor: pointer;
}

a:hover, p a:hover, a:focus, p a:focus{
    color: #f05123;
    text-decoration: none;
    outline: none;
}

.widget:after {
    clear: both;
}

.wp-block-social-links.aligncenter {
    justify-content: center;
    display: flex;
}

.wp-block-social-links, .wp-block-social-links.has-normal-icon-size {
    font-size: 24px;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.wp-container-1 {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}


#footer .widget ul li {
    margin: 0 0 3px;
}

.wp-social-link-instagram {
    background-color: #f00075;
    color: #fff;
}

.widget ul li {
    position: relative;
}

.wp-block-social-link {
    display: block;
    border-radius: 9999px;
    transition: transform .1s ease;
    height: auto;
}

.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:active, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:visited, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg {
    color : currentColor;
    fill : currentColor;
    
}

.wp-block-social-links .wp-social-link a {
    padding: 0.25em;
}

.wp-block-social-links .wp-social-link a, .wp-block-social-links .wp-social-link a:hover {
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
    
}


.wp-block-social-link a {
    align-items: center;
    display: flex;
    line-height: 0;
    transition: transform .1s ease;
}

.wp-block-social-links .wp-social-link svg {
    width: 1em;
    height: 1em;
}

svg:not(:root) {
    overflow: hidden;
}

.wp-social-link-facebook {
    background-color: #1778f2;
    color: #fff;
}
.wp-social-link-youtube {
    background-color: red;
    color: #fff;
}
.wp-social-link-linkedin {
    background-color: #0d66c2;
    color: #fff;
}

#footer-bottom-area {
    background-color: #3c3c3c;
}

#footer>* {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

/* #footer-bottom-area-inner {
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* #qodef-page-footer-bottom-area-inner {
    padding: 22px 0;
    border-top: 1px solid rgba(0,0,0,.1);
} */

.wp-block-social-link:hover{
    transform: scale(1.1);
}

.content-grid {
    margin: 0 auto;
}


.grid .layout--columns .col-num--1>.grid-inner {
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid .gutter--normal>.grid-inner {
    gap: 30px;
}


/* END */

